Torgeir Keun Lysen <torgeir.k.lysen@ntnu.no> Torgeir Lysen <32740390+torgeirlysen@users.noreply.github.com> 
Jørgen Galdal <jorgen.galdal@ntnu.no> Jørgen Galdal <jorgen.4@live.no>
Lara Jacobsen <lrjacobs@stud.ntnu.no>
Magnus Andreas Giverin <magnus.a.giverin@ntnu.no> Magnus Giverin <magnusgiverin@icloud.com> 
Elisabeth Sanne <elisabeth_sanne@hotmail.com> elisabethsanne <elisabeth_sanne@hotmail.com>
Elisabeth Sanne <elisabeth_sanne@hotmail.com> <elisabethsanne@dhcp-10-22-72-253.wlan.ntnu.no>
Elisabeth Sanne <elisabeth_sanne@hotmail.com> <elisabethsanne@dhcp-10-22-58-72.wlan.ntnu.no>
Gaute Greiff Flægstad <gautegf@stud.ntnu.no> Gaute <gaute@dhcp-10-220-212-179.wlan.ntnu.no> 
Olea Gjeldvik <oleaig@stud.ntnu.no> Olea Gjeldvik <oleagjeldvik@olea-sin-macbook-air.local>
