.posterComponent{
    flex-direction: column;
    padding-top: 5px;
    margin: 0px 5px 0px 5px;
  }
  .posterImage{
    width: 17rem;
    height: 25rem;
    object-fit: cover;
    object-position: center;
  }
  .posterImage:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .posterTitle{
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
  }